@page
@model Ado_Clic.Pages.ProfileModel
@{
}

<div id="profile-basic-information" class="card w-25">
	<div class="card-body">
		<h5 class="card-title">Informations de profil</h5>

		<div class="container">
			<div class="row ">
				<div class="col-sm">
					<p class="card-text text-muted">Prénom: </p>
				</div>
				<p class="col-sm card-text">@Model.ProfileData?.FirstName</p>
			</div>

			<div class="row">
				<div class="col-sm">
					<p class="card-text text-muted">Nom: </p>
				</div>
				<p class="col-sm card-text">@Model.ProfileData?.LastName</p>
			</div>

			<div class="row">
				<div class="col-sm">
					<p class="card-text text-muted">Courriel: </p>
				</div>
				<p class="col-sm card-text">@Model.ProfileData?.Email</p>
			</div>

			<div class="row">
				<div class="col-sm">
					<p class="card-text text-muted">Role: </p>
				</div>
				<p class="col-sm card-text"></p>
			</div>
		</div>

	</div>
</div>

<div class="card w-25">
	<div class="card-body">
		<!--Profile photo-->
	</div>
</div>

@if(User.IsInRole("Beneficiary")){
	<div id="profile-beneficiary-information">

	</div>
}

@if(User.IsInRole("Volunteer")){
	<div id="profile-volunteer-information" class="card w-25">
		<div class="card-body">
			<h5 class="card-title">Informations de profil</h5>
			@foreach (var interventionType in Model.ProfileData.InterventionTypes){
				<div class="row">
					<div class="col-sm">
						<p>@interventionType.Name</p>
					</div>
					<div class="col-sm">
						<form asp-action="DeleteInterventionType" method="post">
							@Html.AntiForgeryToken()
							<input type="hidden" name="interventionId" value="@interventionType.Id"/>
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</div>
				</div>
			}
		</div>
	</div>
}


